body {
  width:      400px;
  height:     460px;
  text-align: center;
}
input#title {
  width: 350px;
}
textarea {
  margin-top: 10px;
  width:      350px;
  height:     230px;
}
button#submit {
  margin-top: 20px;
}
img#pageInfo {
  position: absolute;
  top:      20px;
  right:    30px;
}
img#gist {
  display:  none;
  position: absolute;
  top:      50px;
  right:    30px;
}
