body {
  width:      400px;
  height:     400px;
  text-align: center;
}
input#title {
  width: 350px;
}
textarea {
  margin-top: 10px;
  width:      350px;
  height:     230px;
}
button#submit {
  margin-top: 20px;
}
